
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    
    .app-wrapper {
        display: grid;
        grid-template-rows: 2fr 8fr 1fr;
        height: 100vh;
    }
    
}

$cream: rgb(255, 239, 220);

@import "./navbar.scss";
@import "./footer.scss";
@import "./homepage.scss";
@import "./past-work.scss";


